body{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 15px;
}

/**
    Fonts
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/**
    Lines at the top and bottom of the page
*/
.top-line, .bottom-line{
    width: 100%;
    position: fixed;
    background: #25363A;
    padding: 0;
    color: white;
    text-align: center;
    right: 0;
    height: 19px;
}

.top-line{
    top: 0;
}

.bottom-line{
    bottom: 0;
}

/**
    Header
*/

header{
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

/** 
    Header title
*/

/*header .title{
}*/
header .title h1{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #5B5B5B
}
header .title h2{
    color: #25363A;
    font-family: "Roboto";
    font-weight: 700;
}
#title_underline{
    background: #25363A;
    height: 5px;
    width: 80pt;
    border-radius: 10px;
}
header .title h1, header .title h2{
    font-size: 24pt;
    margin: 0;
    padding: 0;
    padding-bottom: 4px;
}

/**
    Header logos
*/

.logos{
    display: flex;
    align-items: center;

    font-family: "Roboto";
    font-weight: bold;
    height: 89px;
}

#logo-smd, #logo-naumsei{
    width: 152px;
    border-radius: 18.5px;
    box-shadow: 0px 3px 7.5px rgba(0, 0, 0, 0.25);
    height: 73px;
    transition: width .5s, height .5s;
}

#logo-smd:hover, #logo-naumsei:hover{
    width: 160px;
    height: 78px;
}

#logo-smd{
    background-image: url("../images/btn-logo-smd.png");
    background-position: center;
    background-size: cover;
    margin-right: 10px;
}
#logo-naumsei{
    background-image: url("../images/btn-logo-vazia.png");
    background-position: center;
    background-size: cover;
} 